/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// bootstrap style toast

// if you'd like to use it without importing all of bootstrap it requires
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';


html { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
p{
  color: #6c757d;
}

// .alert {
//   position: fixed;
//   padding: .75rem 1.25rem;
//   margin-bottom: 1rem;
//   border: 1px solid transparent;
//   border-radius: .25rem;
//   left: 0;
//   right: 0;
// }
